//css reset 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Poppins';  
  position: relative;
  .splashcontent {
	font-style: normal;
	color: #FFFFFF;
	letter-spacing: 0.43012px;	
	text-align: center;	
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	.title {		
		font-weight: 700;
		font-size: 34px;
		line-height: 51px;	
		margin: 0 0 25px 0;
	}
	.description {
		font-weight: 300;
		font-size: 16px;
		line-height: 24px;
	}
  }
}

.bluelight {
  background: linear-gradient(180deg, #3CD18A 0%, #3C6FD1 0.01%, #7CA9FF 100%);
}

.whitelight {
	background: #FFFFFF;
}

.graylight {
	background: #E5E5E5;
}

.whitefont {
	color: #FFFFFF !important;
}

.hundredvh {
	overflow: hidden;
	height: 100vh;
}

.boxsearch {
	background: #FFFFFF;
	border-radius: 20px;
	width: 100%;
}
